<!-- component -->
<style>@import url('https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.min.css')</style>


<div class="tw-container tw-flex tw-mx-auto tw-justify-center tw-bg-white tw-py-16 md:tw-py-24 tw-text-gray-800">
    <div class="tw-flex-1 ">
        <div class="tw-relative tw-columns-1 md:tw-columns-2 lg:tw-columns-3 tw-gap-8">
            {%- for block in section.blocks -%}
              <div class="tw-relative tw-w-auto tw-h-auto tw-mb-8 tw-break-inside-avoid">
                  <div class="tw-w-full tw-mx-auto tw-rounded-lg tw-bg-white tw-border tw-border-gray-200 tw-p-5 tw-text-gray-800 tw-font-light tw-mb-6">
                      <div class="tw-w-full tw-flex tw-mb-4 tw-items-center">
                          <div class="tw-flex-grow tw-pl-3 tw-flex tw-flex-row tw-justify-between">
                              <h6 class="tw-font-bold tw-text-xl tw-uppercase tw-text-gray-600">{{ block.settings.testimonial_title }}</h6>
                              <div class="tw-flex tw-flex-row ">
                                {% assign num_of_stars = block.settings.stars | plus: 0 %}
                                {%- for i in (1..5) -%}
                                  <div class="tw-flex-shrink tw-mr-1 tw-flex tw-flex-column tw-justify-center tw-items-center">
                                    {%- if i <= num_of_stars -%}
                                      <i class="fa-solid fa-star"></i>
                                    {%- else -%}
                                      <i class="fa-regular fa-star"></i>
                                    {%- endif -%}
                                  </div>
                                {%- endfor -%}
                              </div>
                          </div>
                      </div>
                      <div class="tw-w-full tw-flex tw-items-start tw-flex-wrap">
                          <p class="tw-text-sm tw-leading-tight">
                            <span class="tw-text-lg tw-leading-none tw-italic tw-font-bold tw-text-gray-400 tw-mr-1">"</span>
                            {{ block.settings.testimonial_text }}
                            <span class="tw-text-lg tw-leading-none tw-italic tw-font-bold tw-text-gray-400 tw-ml-1">"</span>
                          </p>
                      </div>
                      <div class="tw-w-full tw-flex tw-flex-col tw-mt-8">
                        <p class="tw-font-bold tw-text-xl tw-uppercase tw-text-gray-600">{{ block.settings.customer_name }}</p>
                        <p class="tw-text-xl tw-uppercase tw-text-gray-400">{{ block.settings.testimonial_location }}</p>
                      </div>
                  </div>
              </div>
            {%- endfor -%}
        </div>
    </div>
</div>


{% schema %}
{
  "name": "Testimonials Full Page",
  "tag": "section",
  "class": "section",
  "blocks": [
    {
      "type": "testimonial",
      "name": "single testimonial",
      "settings": [
        {
          "type": "text",
          "id": "customer_name",
          "label": "Customer Name"
        },
        {
          "type": "text",
          "id": "testimonial_title",
          "label": "Testimonial Title"
        },
        {
          "type": "richtext",
          "id": "testimonial_text",
          "label": "Testimonial Body"
        },
        {
          "type": "text",
          "id": "testimonial_location",
          "label": "Testimonial Location"
        },
        {
          "type": "select",
          "id": "stars",
          "label": "number of stars",
          "options": [
            {
              "value": "1",
              "label": "1"
            },
            {
              "value": "2",
              "label": "2"
            },
            {
              "value": "3",
              "label": "3"
            },
            {
              "value": "4",
              "label": "4"
            },
            {
              "value": "5",
              "label": "5"
            }
          ]
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Testimonials Full Page",
      "blocks": [
        {
          "type": "testimonial"
        },
        {
          "type": "testimonial"
        },
        {
          "type": "testimonial"
        }
      ]
    }
  ]
}
{% endschema %}
