<!-- component -->
<style>@import url('https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.min.css')</style>


<div class="tw-container tw-flex tw-mx-auto tw-justify-center tw-bg-white tw-py-16 md:tw-py-24 tw-text-gray-800">
    <div class="tw-flex-1 ">
        <div class="tw-relative tw-columns-3 tw-gap-8">
            {%- for block in section.blocks -%}
              <div class="tw-relative tw-w-auto tw-h-auto tw-mb-8 tw-break-inside-avoid">
                  <div class="tw-w-full tw-mx-auto tw-rounded-lg tw-bg-white tw-border tw-border-gray-200 tw-p-5 tw-text-gray-800 tw-font-light tw-mb-6">
                      <div class="tw-w-full tw-flex tw-mb-4 tw-items-center">
                          <div class="tw-flex-grow tw-pl-3 tw-flex tw-flex-row tw-justify-between">
                              <h6 class="tw-font-bold tw-text-xl tw-uppercase tw-text-gray-600">{{ block.settings.testimonial_title }}</h6>
                              <div class="tw-flex tw-flex-row ">
                                {% assign num_of_stars = block.settings.stars | plus: 0 %}
                                {%- for star in (1..num_of_stars) -%}
                                  <div class="tw-flex-shrink tw-mr-1 tw-flex tw-flex-column tw-justify-center tw-items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                                      <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                                    </svg>
                                  </div>
                                {%- endfor -%}
                              </div>
                          </div>
                      </div>
                      <div class="tw-w-full tw-flex tw-items-start tw-flex-wrap">
                          <p class="tw-text-sm tw-leading-tight">
                            <span class="tw-text-lg tw-leading-none tw-italic tw-font-bold tw-text-gray-400 tw-mr-1">"</span>
                            {{ block.settings.testimonial_text }}
                            <span class="tw-text-lg tw-leading-none tw-italic tw-font-bold tw-text-gray-400 tw-ml-1">"</span>
                          </p>
                      </div>
                      <div class="tw-w-full tw-flex tw-flex-column">
                        <p class="tw-font-bold tw-text-xl tw-uppercase tw-text-gray-600">{{ block.settings.customer_name }}</p>
                        <p class="tw-text-xl tw-uppercase tw-text-gray-400">{{ block.settings.testimonial_location }}</p>
                      </div>
                  </div>
              </div>
            {%- endfor -%}
        </div>
    </div>
</div>


{% schema %}
{
  "name": "Testimonials Full Page",
  "tag": "section",
  "class": "section",
  "blocks": [
    {
      "type": "testimonial",
      "name": "single testimonial",
      "settings": [
        {
          "type": "text",
          "id": "customer_name",
          "label": "Customer Name"
        },
        {
          "type": "text",
          "id": "testimonial_title",
          "label": "Testimonial Title"
        },
        {
          "type": "richtext",
          "id": "testimonial_text",
          "label": "Testimonial Body"
        },
        {
          "type": "text",
          "id": "testimonial_location",
          "label": "Testimonial Location"
        },
        {
          "type": "select",
          "id": "stars",
          "label": "number of stars",
          "options": [
            {
              "value": "1",
              "label": "1"
            },
            {
              "value": "2",
              "label": "2"
            },
            {
              "value": "3",
              "label": "3"
            },
            {
              "value": "4",
              "label": "4"
            },
            {
              "value": "5",
              "label": "5"
            }
          ]
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Testimonials Full Page",
      "blocks": [
        {
          "type": "testimonial"
        },
        {
          "type": "testimonial"
        },
        {
          "type": "testimonial"
        }
      ]
    }
  ]
}
{% endschema %}
